<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo">LOGO</a>
        <div class="nav-links">
            <ul>
                <li class="active"><a href="home.html">Home</a></li>
                <li><a href="create.html">Create</a></li>
                <li><a href="#support">Support</a></li>
                <!-- <li><a href="#">Infos</a></li> -->
                <!-- <li><a href="#">Contact</a></li> -->
            </ul>
        </div>
        <!-- <img src="img/menu-btn-black.png" alt="menuhamburger" class="menu-hamburger" onclick="toggleMobileMenu()"> -->
    </nav>
    <header id="home"></header>

</body>
<script src="script.js"></script>
</html>

<!-- <script>
    const menuHamburger = document.querySelector(".menu-hamburger")
    const navLinks = document.querySelector(".nav-links")
    menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
    })
</script> -->